body{
    background-image: url(img/hatter3.jpg);
    background-attachment: fixed;  
    background-size: cover;
    color: white;
}

/*Bejelentkezés oldal css része*/

.loginDiv{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: rgba(217, 217, 217, 0.2);
    border: rgba(217, 217, 217, 0.4) solid 5px;
    text-align: center;
    margin:auto;
    position:static;
    margin-top: 5%;
    width: 500px;
    height: 450px;
    border-radius: 52px;
}

.loginDiv h1{
    font-size: 48px;
    padding-top: 20px;
}

.loginDiv h2{
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
}

.loginDiv button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 15px;
    outline: none;
    transition: all 0.2s ease;
    background-color: rgba(217, 217, 217, 0.7);
}

/*Regisztrációs oldal css része*/

.regDiv{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;    
    background-color: rgba(217, 217, 217, 0.2);
    border: rgba(217, 217, 217, 0.4) solid 5px;
    text-align: center;
    margin:auto;
    position:static;
    margin-top: 5%;
    width: 500px;
    height: 550px;
    border-radius: 52px;
}

.regDiv h1{
    font-size: 48px;
    padding-top: 20px;
}

.regDiv h2{
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
}

.regDiv button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #cccccc00;
    border-radius: 15px;
    outline: none;
    transition: all 0.2s ease;
    background-color: rgba(217, 217, 217, 0.7);
}

/*Egyéb*/

.mutasdajelszot{
    padding-top: 5px;
    font-weight: lighter;
    font-style: italic;
    margin-left: 60%;
    cursor: default;
}

.inputok {
    width: 430px;
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    background-color: rgba(217, 217, 217, 0.2);
    border: rgba(217, 217, 217, 0.4) solid 3px;
    border-radius: 15px;
    outline: none;
    transition: all 0.2s ease;
}

.inputok::placeholder{
    color: rgba(255, 255, 255, 0.429);
}

.inputok:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

