body{
    background-image: url(weboldal/img/hatter3.jpg);
    background-attachment: fixed;  
    background-size: cover;
    color: white;
}

/*Új edzés oldal css része*/

.loginDiv{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin:auto;
    position:static;
    margin-top: 5%;
    width: 500px;
    height: 600px;
    border-radius: 52px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.12);
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.loginDiv h1{
    font-size: 48px;
    padding-top: 20px;
}

.loginDiv h2{
    margin-top: 2%;
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
}

.loginDiv button{
    width: 150px;
    height: 50px;
    margin-top: 10%;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    background-color: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/*Egyéb*/

.inputok {
    width: 430px;
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    background-color: rgba(217, 217, 217, 0.2);
    border: rgba(217, 217, 217, 0.4) solid 2px;
    border-radius: 15px;
    outline: none;
    transition: all 0.2s ease;
}

.inputok::placeholder{
    color: rgba(255, 255, 255, 0.429);
}

.inputok:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.inputok2 {
    width: 430px;
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    background-color: rgba(217, 217, 217, 0.2);
    border: rgba(217, 217, 217, 0.4) solid 2px;
    border-radius: 15px;
    outline: none;
    transition: all 0.2s ease;
}

.inputok2::placeholder{
    color: rgba(255, 255, 255, 0.429);
}

.inputok2:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.loginDiv button:hover,
.regDiv button:hover {
    background: rgba(255, 255, 255, 0.45);
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.loginDiv button:active,
.regDiv button:active {
    transform: translateY(0);
    box-shadow: none;
}

#hiba{
    color: red;
}


ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    background-color: #333333 !important;

    display: flex !important;
    list-style: none !important;
}

ul li {
    float: left !important;
}

ul li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
}

ul li a:hover,
ul li a:visited,
ul li a:active,
ul li a:focus {
    background-color: #111111 !important;
}

ul li:first-child {
    margin-right: auto !important; /* minden mást jobbra tol a menüben csak a Home gomb marad jobb oldalt*/
}

@media only screen and (max-width: 800px) {
    body{
        background-image: none !important;
        background-color: rgb(150, 150, 150) !important;;
        color: blue !important;;
    }
    .menu-icon{
        display: block !important;
    }
    .menu-icon-li {
        position: absolute !important;
        top: 3px !important;
        right: 2% !important;
        display: block !important;
        z-index: 9999 !important;
    }
    ul li {
        display: none !important;
    }
    ul li:first-child,
    ul li:last-child{
        display: block !important;
    }
    



    ul {
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
    ul.open li { display: block !important; }
    ul.open li img.menu-icon { display: block !important;}
    



    /*ezt a kettőt későbbiekben töröljük*/
    h2.alatt{
        display: block !important;
    }
    h2.felett{
        display: none !important;
    }
}

h2.alatt{
    display: none;
}

.menu-icon {
    display: none;
    filter: invert(1) brightness(2); /* fekete → fehér */
    margin: auto !important;
    margin-top: 25% !important;
    margin-right: 50% !important;
    width: 32px !important;
    height: 32px !important;
}

.home-btn{
    /* margin: auto !important; */
    /* margin-top: 5% !important; */
    /* margin-left: 15% !important; */
    height: 52px !important;
    width: 52px !important;
}
.home-btn-a {
    display: flex !important;
    color: white !important;
    align-items: center !important;
    padding: 0px !important;
    padding-top: 0px !important;
    text-decoration: none !important;
}

/* .adottoldal {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
} */